
<h3> MENS TEAM - CONTACT US </h3>
  <div class="social">

    <div id="widget ">
      <div class="btn-o bg-blue" data-scribe="component:button" style="width: 30%;"><a href="https://www.instagram.com/my_mens_team/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div>
    </div>

<a href="https://www.facebook.com/mens.team.au/" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> Facebook</a>


<h2>Send e-mail to cameron@mensteam.com.au</h2>

<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
  
  </div>
   
    